* {
    // margin: 0;
    // padding: 0;
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    color: #252823;
    font-family: 'Montserrat', sans-serif;
}
body::-webkit-scrollbar {
    width: .5vw;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #ff5e84;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

a {
    color: #ff5e84;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .1px;
}

#container {
    width: 90%;
    max-width: 920px;
    margin: 40px auto;

    display: flex;

    #intro {
        width: 300px;
        margin-right: 20px;
    }
}

main {
    margin: 32px 0;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;

    button {
        color: #ff5e84;
        border: none;
        font-weight: bold;
        background: none;
        cursor: pointer;
        outline: none;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: .2px;
    }
    button:hover {
        text-decoration: underline;
    }
    .fat {
        color: white;
        background: #ff5e84;
        width: 150px;
        height: 40px;
        border-radius: 6px;
        box-shadow: 0px 8px 16px #ff5e8432
    }
}

#buttons, footer {
    text-align: center;
}

footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .2px;
    color: #777777;

    a {
        text-decoration: none;
        opacity: .6;
    }
    a:hover {
        color: #ff5e84;
        font-weight: bold;
    }
}

.last-ideas {
    .idea {
        display: flex;
        margin-bottom: 32px;
        background-color: #fff;
        padding: 32px;
        border-radius: 8px;
        box-shadow: 0 4px 16px -8px rgba(1, 1, 1, .1);

        img {
            width: 60px;
            height: 60px;
            margin-right: 32px;
        }

        h3 {
            margin: 0;
        }

        p {
            margin: 8px 0;
            color: #777777;
        }

        .description {
            margin: 16px 0;
        }
    }
}