* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: #e5e5e5;
    color: #252823;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: .5vw;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #ff5e84;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

a {
    color: #ff5e84;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .1px;
}

#container {
    width: 90%;
    max-width: 920px;
    margin: 40px auto;

    display: flex;

    #intro {
        width: 300px;
        margin-right: 20px;
    }
}

main {
    margin: 32px 0;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;

    button {
        color: #ff5e84;
        border: none;
        font-weight: bold;
        background: none;
        cursor: pointer;
        outline: none;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: .2px;
    }
    button:hover {
        text-decoration: underline;
    }
    .fat {
        color: white;
        background: #ff5e84;
        width: 150px;
        height: 40px;
        border-radius: 6px;
        box-shadow: 0px 8px 16px #ff5e8432;

        a {
            color: white;
        }
    }
}

#buttons, footer {
    text-align: center;
}

footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .2px;
    color: #777777;

    a {
        text-decoration: none;
        opacity: .6;
    }
    a:hover {
        color: #ff5e84;
        font-weight: bold;
    }
}

.ideas {
    .idea {
        display: flex;
        margin-bottom: 32px;
        background-color: #fff;
        padding: 32px;
        border-radius: 8px;
        box-shadow: 0 4px 16px -8px rgba(1, 1, 1, .1);

        img {
            width: 60px;
            height: 60px;
            margin-right: 32px;
        }

        h3 {
            margin: 0;
        }

        p {
            margin: 8px 0;
            color: #777777;
        }

        .description {
            margin: 16px 0;
        }
    }
}

// Modal
#modal {
    background-color: #ff5e84;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: .4s;

    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        color: white;
        transform: scale(.8);

        h1 {
            text-align: center;
            text-transform: uppercase;
        }

        form {
            width: 80%;
            max-width: 800px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            div:nth-child(3),
            div:nth-child(4),
            div:nth-child(5) {
                grid-column: span 2;
            }

            input, textarea {
                width: 100%;
                padding: 12px;
                border-radius: 6px;
                border: 1px solid rgba(141, 25, 52, .5);
                outline: none;
                font-size: 16px;
                box-sizing: border-box;
            }

            label {
                font-weight: 600;
                line-height: 32px;
                letter-spacing: .8px;            
            }

            a {
                width: 150px;
                height: 40px;
                background-color: #ffffff22;
                color: white;
                border-radius: 6px;
                font-size: 14px;
                font-weight: bold;                

                display: flex;
                justify-content: center;
                align-items: center;

                align-self: end;
                transition: .4s;
            }
            a:hover {
                background-color: #ffffff;
                color: #ff5e84;
                text-decoration: none;
            }

            button {
                background-color: white;
                width: 150px;
                height: 40px;
                border-radius: 6px;
                cursor: pointer;
                outline: none;
                margin-top: 32px;
                grid-column: 2;
                justify-self: end;
                border: none;
                transition: .4s;
            }
            button:hover {
                background-color: #0983e3;
                color: white;
                text-decoration: none;
            }
        }
    }
}

#modal.hide {
    opacity: 0;
    visibility: hidden;
}
body.hideScroll {
    overflow: hidden;
}
#modal.addScroll {
    overflow: auto;
}

#modal::-webkit-scrollbar {
    width: .5vw;               /* width of the entire scrollbar */
}
  
#modal::-webkit-scrollbar-track {
    background: #ff5e84;        /* color of the tracking area */
}
  
#modal::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}